{% load static %}

<html>
    <head>
        <title>Fallert Stats</title>
    </head>
    <body>
        <h1>Fallert Stats</h1>

        <!-- <div id="main" style="width: 600px;height:400px;"></div> -->

        <h4>Number of falls per age</h4>
        <div id="falls-per-age-distribution-graph" style="width: 300px;height:400px;"></div>
        <script id="falls-per-age-distribution-graph-data" data-chart-data="{{ users.falls_per_age|safe }}"></script>
        <br>
        <h4>Number of emergency contacts</h4>
        {% for count in users.em_contacts_count %}
            <li>{{ count }}</li>
        {% endfor %}
        <br>
        <h4>Genders</h4>
        {% for gender in users.genders %}
            <li>{{ gender }}</li>
        {% endfor %}
    </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
<script src="{% static 'js/index.js'%}"></script>